.container {
  margin: 0 16rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.line {
  width: 100%;
  border-bottom: 3px solid #D2D2D2;
}

.title {
  color: #483285;
  cursor: pointer;
}

.mainContainer {
  margin: 2rem
}