.searchContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.filter {
  width: 400px;
  padding: 1rem;
  font-size: 18px;
  border-radius: 4px;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}