.pill {
  display: flex;
  background-color: #0074D9;
  color: #fff;
  border-radius: 12px;
  height: 40px;
  margin: 0;
  padding: 0 .5rem;
  justify-content: center;
  align-items: center;
}

.iconText {
  font-size: 24px;
  letter-spacing: .3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}