.audioPlayer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid #D2D2D2;
  padding: .4rem;
  border-radius: 8px;
  background-color: black;
}

.playButton,
.volumeIconButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.volumeControl {
  display: inline-block;
  width: 100px;
  margin-left: 5px;
}

.reverseDuration {
  margin-left: 10px;
  color: white;
}

.slider {
  flex-grow: 2;
}